[project]
	description = Puppet code control system
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cyberjustice (cruckens)
[access "refs/for/refs/*"]
	read = group user/cyberjustice (cruckens)
	push = group user/cyberjustice (cruckens)
	label-Code-Review = -2..+2 group user/cyberjustice (cruckens)
	label-Verified = -1..+1 group user/cyberjustice (cruckens)
	rebase = group user/cyberjustice (cruckens)
	removeReviewer = group user/cyberjustice (cruckens)
	submit = group user/cyberjustice (cruckens)
[access "refs/heads/*"]
	read = group user/cyberjustice (cruckens)
	create = group user/cyberjustice (cruckens)
	push = +force group user/cyberjustice (cruckens)
	pushMerge = group user/cyberjustice (cruckens)
[access "refs/tags/*"]
	push = group user/cyberjustice (cruckens)
	push = +force group user/cyberjustice (cruckens)
